.jumbotron {
    background: url('images/bg.jpg');
    text-align: center;
    margin-top:50px;
}

h3 {
    text-align: left; 
    color: #0033cc;
}
body {
    position: relative;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    margin-top: 20px;
}
.work-container {
    margin-top: 20px;
    width: 980px !important ;

}

.logo {
    width: 150px;
    height: 150px;

}
.text-container {

    width: 600px;
    margin-left: 50px;
}

.social-links {
    text-align: center !important; 
}
#spotify {
    width: 300px;
    height: 300px;
    opacity: 0.8;
    float:right;
    position: relative;
    top: -33px;
}

